[Unit]
Description=Wireless Network Service (%i)
Requires=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/sbin/ip l set %I up
ExecStart=/sbin/wpa_supplicant -B -i%I -c/etc/wpa_supplicant/wpa_supplicant-%I.conf
ExecStart=/sbin/ip a add 192.168.1.95/24 dev %I
ExecStart=/sbin/ip r add default via 192.168.1.254

ExecStop=/sbin/ip l set %I down
ExecStop=/sbin/ip a flush %I

[Install]
Alias=multi-user.target.wants/network-wireless@%i.service
